<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
        <script>
    $(document).ready(function(){	
    	$('#b1').click(function(){
    		$.get({
    	    	url:"http://localhost:8080/login",
    	    });
    	    alert("Login!")
    		}
    	    });
    	});
</script>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form  method='POST'>
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" id="b1" value="Sign In"/></div>
        </form>
    </body>
</html>