.colore{
background-color:#006000;
border-color:#004200;
}

#logo{
	width:160px;
	height:100px;
	margin-right:100px;
	
}
.navbar-default .navbar-nav>li {
	margin-top:10px;
	margin-bottom:2px;
	margin-right:25px;
	font-size:18px;
}
.navbar-default .navbar-nav>li>a {
	color:white;
	hover:black;
}

.barra{
	 padding: 20px;
}

.foto{
	display:block;
	margin:30px auto;
}
